/* Header css */
#header {
    margin-bottom: 0;
}

.header-dark {
    background-color: rgba(4, 9, 30, 0.9);
}

.header-gap {
    padding-top: 89px;
}

/* Heading css */
.main-heading{
    padding: 90px 0px;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}

/* Logo css */
#logo a img {
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: contain;
    background-color: black;    
    height: 100%;
    width: 3rem;
}

/* Banner css */
.banner-area {
    position: relative;
    margin-top: -60px;
    padding-top: 60px;
}

.banner-content {
    text-align: left;
    color: white;
}

.banner-content h2 {
    font-size: 2em;
    color: whitesmoke;
}

.banner-content p {
    font-size: 1em;
    color: white !important;
    /* color: rgba(255, 255, 255, 0.3); */
}

/* Carousel css */
.single-popular-carusel .img-fluid{
    aspect-ratio: 3/2;
    object-fit: cover;
}

/* Nav css */
#mobile-nav-toggle {
    top: 27px !important;
}


/* About page css */
.about-img {
    aspect-ratio: 1;
    object-fit: cover !important;
    width: 100%;
    height: auto;
}


/* Responsive styles for smaller screens */
@media (max-width: 767px) {

    .banner-content h2,
    .banner-content p {
        font-size: 0.7em;
        margin-bottom: 15px;
    }

    .banner-area {
        padding-top: 150px;
    }
}

@media (max-width: 575px) {

    .banner-content h2,
    .banner-content p {
        font-size: 1em;
        margin-bottom: 10px;
    }
}