.staff-profile-img {
    object-fit: cover;
    aspect-ratio: 1;
}

.staff-card {
    flex: 1 0 auto;
    /* aspect-ratio: 3/4; */
}

.staff-card .card-body {
    /* height: 100%; */
}


@media screen    {
    
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
#staffDetails {
    display: grid;
    grid-template-columns: auto auto auto;
}