/* Background image */
.display-bg {
    padding-top: 89px;
    background-size: cover !important;
    background-position: center !important;
    color: white !important;
}



/* Staff details css */
.staff-profile-img {
    object-fit: cover;
    aspect-ratio: 1;
}

.staff-card {
    width: 85% !important;
}

.staff-col {
    display: flex;
    align-items: center;
    justify-content: center;
}

.staff-details-area {
    margin-bottom: 5%;
}



/* Departments card css */
.departments-card {
    width: 85% !important;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.departments-card-col {
    display: flex;
    justify-content: center;
}

.departments-img-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.departments-img-overlay>.card-text {
    font-size: 11pt;
}